@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #748CAB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

h1 {
    color: #0D1321;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h2 {
    color: #0D1321;
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: large;
  font-style: normal;
}

.satelite {
    height: 500px;
    border-radius: 15px;
    margin: 15px;
}

#paragrafo-foto{
    display: flex;
    flex-direction: row;
    align-items: center;
}